@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Manrope&display=swap');
* {
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgb(247, 245, 240);
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* max-width: unset !important; Lazy because of bootstrap */
}

.side-pannel-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 20%;
}

main {
  width: 80%;
}

.info-content {
  color: #999999;
}

.footer-container {
  margin-top: auto;
  padding-left: 1rem;
}

.footer-container a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

.footer-container a:hover {
  color: #4a5262;
  text-decoration: overline dotted;
}

.editions-container {
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 80%; */

  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 10px;
  padding: 30px;
  width: 80%;
  overflow-y: auto;
  align-items: stretch; */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.edition-item {
  aspect-ratio: 5/6;
  flex: 40%;
  margin: 10px;
  display: flex;
  border-radius: 2%;
  position: relative;
  overflow: hidden;
  max-width: 35%;
}

img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
  border-radius: inherit;
}

.edition-item:hover img {
  transform: scale(1.1);
  border-radius: inherit;
}

.img-description {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  color: aliceblue;
}

.img-description span {
  min-height: 100%;
  display: inline-flex;
  align-items: center;
  font-size: 28px;
  background-color: transparent;
}

.edition-item:hover .img-description {
  background: rgba(0, 0, 0, 0.3);
  visibility: visible;
}

#pdf-container {
  display: flex;
  justify-content: center;
}

/*
  About page css.
*/
.about-container {
  /* width: 80%; */
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.about-text-container {
  width: 60%;
}

#about-content,
#home-content {
  transition: all 0.3s ease-out;
}

#home-content {
  max-height: 99vh;
  /* padding: 1rem; */
}
#about-content {
  max-height: 0;
  overflow: hidden;
  padding: 10px 30px;
}

ul {
  list-style-type: circle;
}

.pdf-modal {
  background-color: transparent;
}

/* Mobile styles */
@media (max-width: 900px) {
  /* Styles for devices with a maximum screen width of 900px */
  * {
    font-size: 14px;
  }
  .content-container {
    flex-direction: column;
  }
  .side-pannel-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    max-height: 10vh;
  }
  .footer-container {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }
  .footer-container p {
    padding: 5px;
  }
  .img-description span {
    font-size: unset;
  }
  main {
    width: unset;
  }
  .edition-item {
    flex: unset;
    max-width: unset;
  }
  .about-text-container {
    width: unset;
  }
  #about-content {
    overflow: auto;
    position: fixed;
    top: 10vh;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
  }
  #home-content {
    position: fixed;
    top: 10vh;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .logo-container img {
    height: 100%;
  }
}
