@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Manrope&display=swap');
* {
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgb(247, 245, 240);
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* max-width: unset !important; Lazy because of bootstrap */
}

.side-pannel-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 20%;
}

main {
  width: 80%;
}

.info-content {
  color: #999999;
}

.footer-container {
  margin-top: auto;
  padding-left: 1rem;
}

.footer-container a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

.footer-container a:hover {
  color: #4a5262;
  text-decoration: overline dotted;
}

.editions-container {
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 80%; */

  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 10px;
  padding: 30px;
  width: 80%;
  overflow-y: auto;
  align-items: stretch; */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.edition-item {
  aspect-ratio: 5/6;
  flex: 40%;
  margin: 10px;
  display: flex;
  border-radius: 2%;
  position: relative;
  overflow: hidden;
  max-width: 45%;
}

img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
  border-radius: inherit;
}

.edition-item:hover img {
  transform: scale(1.1);
  border-radius: inherit;
}

.img-description {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  color: aliceblue;
}

.img-description span {
  min-height: 100%;
  display: inline-flex;
  align-items: center;
  font-size: 28px;
  background-color: transparent;
}

.edition-item:hover .img-description {
  background: rgba(0, 0, 0, 0.3);
  visibility: visible;
}

#pdf-container {
  display: flex;
  justify-content: center;
}

#about-title {
  padding-top: 3rem;
}

/*
  About page css.
*/
.about-container {
  /* width: 80%; */
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.about-text-container {
  width: 60%;
}

#about-content,
#home-content {
  transition: all 0.3s ease-out;
}

#home-content {
  max-height: 99vh;
  /* padding: 1rem; */
}
#about-content {
  max-height: 0;
  padding: 10px 30px;
}

ul {
  list-style-type: circle;
}

.pdf-modal {
  background-color: transparent;
}

.hamburger-lines {
  display: none;
}

#menu-checkbox {
  display: none;
}

.logo-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.select-picker {
  margin-top: 10px;
  width: 50px;
  border: dotted;
  border-width: 1px;
  border-radius: 10%;
}

/* Mobile styles */
@media (max-width: 900px) {
  /* Styles for devices with a maximum screen width of 900px */
  .logo-container {
    flex-direction: row;
  }
  .select-picker {
    margin-top: 1rem;
    margin-left: 10px;
  }
  .content-container {
    flex-direction: column;
  }
  .side-pannel-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    max-height: 10vh;
  }
  .footer-container {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 10vh;
    background: rgb(247, 245, 240, 0.95);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }
  .menu-open {
    max-height: 100%;
  }
  .footer-container > * {
    background-color: transparent;
  }
  .footer-container > *::before {
    content: '- ';
  }
  footer :first-child {
    margin-top: 10px;
  }
  .footer-container a:hover {
    text-decoration: overline dotted;
  }
  .img-description span {
    font-size: unset;
  }
  main {
    width: unset;
  }
  .edition-item {
    flex: unset;
    max-width: unset;
  }
  .about-text-container {
    width: unset;
  }
  #about-content {
    overflow: hidden;
    position: fixed;
    top: 10vh;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
  }
  #home-content {
    position: fixed;
    top: 10vh;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .logo-container img {
    height: 100%;
  }

  #menu-checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 12px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 27px;
    right: 12px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: #4a5262;
  }
  .line1 {
    transform-origin: 100% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .line3 {
    transform-origin: 100% 100%;
    transition: transform 0.3s ease-in-out;
  }
  input[type='checkbox']:checked ~ .hamburger-lines .line1 {
    transform: rotate(-50deg);
  }

  input[type='checkbox']:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  input[type='checkbox']:checked ~ .hamburger-lines .line3 {
    transform: rotate(50deg);
  }

  #about-title {
    padding-top: 0;
  }
}
